<h1 style=  "text-align: center;
color: #a8a8a8";>Contact US</h1>

<form class="cf" style=" background: #f1f1f1;
font-family: 'Merriweather', sans-serif;
padding: 5em;"

>

  <div class="half left cf" style=" clear: both"  ;
>
    <input type="text" id="input-name" placeholder="Name" style="border:0; outline:0;
    padding: 1em;
    display: block;
    border-radius: 30px;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;">
    <input type="email" id="input-email" placeholder="Email address" style="border:0; outline:0;
    padding: 1em;
    border-radius: 30px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;">
    <input type="text" id="input-subject" placeholder="Subject" 
    style="border:0; outline:0;
    border-radius: 30px;
    display: block;
    width: 100%;
    margin-top: 1em;
    padding: 2%;
    font-family: 'Merriweather', sans-serif;"
    >
  </div>
  <div class="half right cf" style=" float: left;
  width: 48%;
  margin-bottom: 3em;">
    <textarea name="message" type="text" id="input-message" placeholder="Message" 
    " style="border: 1px; outline:0;
    display: block;
    width: 100%;
    margin-top: 10%;
    font-family: 'Merriweather', sans-serif;
    padding: 10%;
    padding-left: 2%;"
    
          ></textarea>
  </div>  
  <input type="submit" value="Submit" id="input-submit" 
  style="color: white; 
  background: red;
  cursor: pointer;
  padding-left: 1em;
  margin-top: 10%;
  "
  >

</form>